{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>hello sur notre blog sur les livres</h1>
<h2>tuto youtube sur mon premier projet symfony</h2>
<h3>Formateur Certif Academy: 
    <a href="https://www.youtube.com/@certifacademy">
    https://www.youtube.com/@certifacademy
    </a>
</h3>
{% endblock %}
