{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <!-- PAGE templates / profil_user / show -->
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <!-- BOUTON lien vers edit -->
    <a href="{{ path('app_profil_user_edit') }}">edit</a>

{% endblock %}
