{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <!-- PAGE templates / contact / index -->
    <h1>Envoie de contact ✅</h1>
    <div>
        {{ form(form) }}
    </div>
{% endblock %}
