{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <!-- templates / categorie / index -->
    <h1>Les catégories disponibles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">Consulter les articles de cette catégorie</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">aucune catégorie disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
